.top-bar 
{
    font-size: 30px;
}
h8
{
    color: white;
    
}
.top-bar1
{
    font-size: 10px;
    padding-top: 5px;;
}



.btn btn-primary
{

    margin: 0 30px;
}


.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    
    text-align: center;
  
    color: #fff;
    background-color: rgb(65, 19, 233);
    border: 2px solid blue;
    border-radius: 30px;
    
  }
  .carousel-inner
{
    height: 100%;
    width: 100%;
}
  .button1 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    
    text-align: center;
    
    color: black;
    
    
    border-radius: 30px;
    
  }
  
  .button1:hover {background-color:blue}

  .Para
{
    text-align: justify;
    font-style: arial;
    font-size: 24px;
    color: dimgrey;
}
 .h1
 {
     font-family: italian;
     color: white;
     font-size: 50px;
 }
 .p
 {
     font-size: 15px;
     font-family: bold;
 }
 .shadow-lg
 {
     height: 230px;
     width: 430px;
 }
 .text-theme-colored
 {
     color: green;
 }

.card
{
    background-color: rgb(230, 235, 247)
}
.shadow-none
{
    height: 100px;
    width: 400px;
    
    
}
.style13
{
    width: 70px;
    float: left;
    columns: green;
    style
}
.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }
  
 .imagegallery
 {
     height: 30px;
     width: 40px;
 }